In [9]:
import os
import json
import pandas as pd
from collections import Counter

In [5]:
keywords_folder_path = "../data/keywords/"

In [6]:
all_keyword_jsons = []

for file_name in os.listdir(keywords_folder_path):
    with open(keywords_folder_path + file_name, "r") as f:
        keywords_json = json.load(f)
    all_keyword_jsons.append(keywords_json)

In [7]:
df = pd.DataFrame(all_keyword_jsons)

In [8]:
df

,title,keywords
0,Où va la Data Science ?,"[Data Science, Machine Learning Engineer, DevO..."
1,Le long parcours d'un cas d'usage applicatif e...,"[ISEO, data analysis, entity recognition, clas..."
2,Techniques pour améliorer son éligibilité pour...,"[data, visibility, technical skills, self-asse..."

In [16]:
keyword_counts = Counter(keyword.lower() for keywords in df['keywords'] for keyword in keywords)

In [17]:
keyword_counts

Counter({'data science': 1,
         'machine learning engineer': 1,
         'devops': 1,
         'data engineer': 1,
         'data analysis': 2,
         'business expertise': 1,
         'cicd': 1,
         'job market': 1,
         'new technologies': 1,
         'mle': 1,
         'iseo': 1,
         'entity recognition': 1,
         'classification': 1,
         'data aggregation': 1,
         'amazon': 1,
         'consumer opinions': 1,
         'sentiments': 1,
         'project': 1,
         'happy': 1,
         'data': 1,
         'visibility': 1,
         'technical skills': 1,
         'self-assessment': 1,
         'professional personality': 1,
         'learning': 1,
         'linkedin': 1,
         'networking': 1,
         'market': 1,
         'salary negotiation': 1})